In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
pd.set_option('display.max_rows', 50)

SyntaxError: invalid syntax (4046076424.py, line 6)

In [6]:
full_ld_df = pd.read_csv("data/processed_loan_data.csv", low_memory = True)
full_ld_df.dtypes

BORROWER_NAME            object
STATE                    object
ZIP                       int64
BANK                     object
BANK_STATE               object
INDUSTRY_ID               int64
APPROVAL_DATE            object
APPROVAL_YEAR             int64
TERM                      int64
EMPLOYEE_COUNT            int64
IS_NEW                     bool
JOBS_CREATED_COUNT        int64
JOBS_RETAINED_COUNT       int64
FRANCHISE_CODE            int64
IS_URBAN                   bool
IS_REVOLVER                bool
IS_LOW_DOC                 bool
DEFAULT_DATE             object
DISBURSEMENT_DATE        object
DISBURSEMENT_AMOUNT     float64
LOAN_STATUS                bool
CHARGE_OFF_AMOUNT       float64
LOAN_AMOUNT             float64
SBA_APPROVED_AMOUNT     float64
TREASURY_YIELD          float64
CPI_INDEX               float64
GDP                     float64
MORTGAGE_30_US_FIXED    float64
UNRATE                  float64
INDPRO_INDEX            float64
UMCSENT_INDEX           float64
CSUSHPINSA_INDEX        float64
CP_INDEX                float64
FEDFUNDS_RATE           float64
EXPOSURE                float64
PERCENTAGE_EXPOSURE     float64
dtype: object

In [13]:
default_df = full_ld_df.loc[~full_ld_df['LOAN_STATUS']]
default_df.reset_index(inplace=True, drop=True)
default_df.head(10000000000)

,BORROWER_NAME,STATE,ZIP,BANK,BANK_STATE,INDUSTRY_ID,APPROVAL_DATE,APPROVAL_YEAR,TERM,EMPLOYEE_COUNT,IS_NEW,JOBS_CREATED_COUNT,JOBS_RETAINED_COUNT,FRANCHISE_CODE,IS_URBAN,IS_REVOLVER,IS_LOW_DOC,DEFAULT_DATE,DISBURSEMENT_DATE,DISBURSEMENT_AMOUNT,LOAN_STATUS,CHARGE_OFF_AMOUNT,LOAN_AMOUNT,SBA_APPROVED_AMOUNT,TREASURY_YIELD,CPI_INDEX,GDP,MORTGAGE_30_US_FIXED,UNRATE,INDPRO_INDEX,UMCSENT_INDEX,CSUSHPINSA_INDEX,CP_INDEX,FEDFUNDS_RATE,EXPOSURE,PERCENTAGE_EXPOSURE
3,BALOONS AND BEARS,CA,94598,WELLS FARGO BANK NATL ASSOC,SD,453220,1996-01-11,1996,84,1,False,0,0,8047,True,False,False,2003-04-15,1996-04-30,46200.0,False,19329.0,46200.0,36960.0,6.438333,156.858333,8073.12175,7.806154,5.408333,75.165983,93.608333,82.808500,541.42850,5.298333,9240.0,0.200000
18,"TAHOMA COMPANIES, INC C/O SBA",UT,84138,STATE BANK OF SOUTHERN UTAH,UT,541330,1996-07-02,1996,109,11,True,0,0,1,False,False,False,2004-08-26,1996-07-12,100000.0,False,18476.0,100000.0,80000.0,6.438333,156.858333,8073.12175,7.806154,5.408333,75.165983,93.608333,82.808500,541.42850,5.298333,20000.0,0.200000
26,CABALLO LAKE RV PARK,NM,87935,BANK OF THE SOUTHWEST,NM,721211,1996-08-29,1996,213,2,False,0,0,1,False,False,False,2002-02-19,1996-11-30,116430.0,False,24466.0,117200.0,87900.0,6.438333,156.858333,8073.12175,7.806154,5.408333,75.165983,93.608333,82.808500,541.42850,5.298333,28530.0,0.245040
36,"TUBS TO GO SPA MFG., LLP",MT,59635,VALLEY BK OF HELENA A DIVISION,MT,326191,1997-01-29,1997,107,2,True,0,0,1,False,False,False,1998-09-01,1997-03-31,170000.0,False,170124.0,170000.0,127500.0,6.352500,160.525000,8577.55250,7.598846,4.941667,80.569050,103.216667,85.317417,592.26625,5.460000,42500.0,0.250000
52,"SWEET CEDAR STUDIO, LLC",MT,59725,WELLS FARGO BANK NATL ASSOC,SD,512110,1997-03-14,1997,7,1,False,0,0,1,False,False,True,2003-02-21,1997-03-31,20000.0,False,8037.0,20000.0,16000.0,6.352500,160.525000,8577.55250,7.598846,4.941667,80.569050,103.216667,85.317417,592.26625,5.460000,4000.0,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319214,ALPHA TRIM INC,CA,90058,COMPASS BANK,AL,448150,2013-10-23,2014,76,4,True,0,4,0,True,True,False,2014-08-15,2013-10-23,35000.0,False,34580.0,35000.0,17500.0,2.540833,236.715000,17608.13825,4.168868,6.158333,102.305642,84.125000,164.674667,1947.36300,0.089167,17500.0,0.500000
319224,"E Smokey Treats, LLC",CA,95062,JPMORGAN CHASE BANK NATL ASSOC,IL,454111,2013-10-29,2014,80,8,True,5,0,0,True,True,False,2014-04-08,2013-11-01,25000.0,False,25000.0,25000.0,12500.0,2.540833,236.715000,17608.13825,4.168868,6.158333,102.305642,84.125000,164.674667,1947.36300,0.089167,12500.0,0.500000
319242,"HEMMING TRANSPORT AND TOWING,",CA,94015,WELLS FARGO BANK NATL ASSOC,SD,488410,2013-11-06,2014,77,0,False,1,1,0,True,True,False,2014-07-16,2013-11-06,16281.0,False,7389.0,10000.0,5000.0,2.540833,236.715000,17608.13825,4.168868,6.158333,102.305642,84.125000,164.674667,1947.36300,0.089167,11281.0,0.692894
319261,MOUNTAIN ROCK FASHION,CA,91401,WELLS FARGO BANK NATL ASSOC,SD,448140,2013-11-14,2014,78,5,True,2,5,0,True,True,False,2014-07-01,2013-12-01,25000.0,False,24904.0,25000.0,12500.0,2.540833,236.715000,17608.13825,4.168868,6.158333,102.305642,84.125000,164.674667,1947.36300,0.089167,12500.0,0.500000
319319,BUTON CONSTRUCTION AND CONTRAC,AK,99705,WELLS FARGO BANK NATL ASSOC,SD,236115,2013-12-24,2014,78,7,False,0,0,0,True,True,False,2014-08-25,2014-01-01,15000.0,False,15000.0,15000.0,7500.0,2.540833,236.715000,17608.13825,4.168868,6.158333,102.305642,84.125000,164.674667,1947.36300,0.089167,7500.0,0.500000

In [ ]:
full_ld_df['